@import '../modules/base';

$base-class: book2;

li {
    transform-style: preserve-3d;
    animation: float 6s ease-in-out infinite;
    width: 500px;
    height: 50%;
}

/*
	1. container
*/
.#{$base-class} {
    position: relative;
    width: 150px;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translateX(0) scale(0.88);
    transition: transform ease 0.9s;
    box-shadow: -7px 15px 26px -8px rgba(0, 0, 0, 0.5);
}