@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0) rotateX(0); }
  50% {
    transform: translateY(-10px) rotateY(5deg) rotateX(-5deg); }
  100% {
    transform: translateY(0px) rotateY(0) rotateX(0); } }

.chart {
  position: relative;
  width: 50%;
  height: 600px;
  background-image: url("../../images/decor--1.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  transform: translateX(-10px); }
  .chart div {
    background-color: rgba(247, 246, 244, 0.4); }
  .chart__shuffleBtn {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 100px;
    height: 100px;
    background-image: url("../../images/blob--1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none; }
  .chart__switch-modeBtns {
    position: absolute;
    bottom: 20%;
    right: -6%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .chart__switch-modeBtns button {
      display: block;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-family: "Raleway", sans-serif;
      font-size: 1rem; }
