@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0) rotateX(0); }
  50% {
    transform: translateY(-10px) rotateY(5deg) rotateX(-5deg); }
  100% {
    transform: translateY(0px) rotateY(0) rotateX(0); } }

@keyframes pulse {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.3);
    opacity: 0; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

@keyframes pulse-2 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

@keyframes bounce {
  0%, 75%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); } }

.menu {
  --duration: .5s;
  --easing: ease-in-out;
  position: fixed;
  z-index: 9999;
  display: block;
  right: 20px;
  top: 20px;
  width: 200px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #231e1a; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .menu li {
    display: block;
    width: 100%;
    margin: 0;
    animation: none; }
    .menu li.menu__gritem {
      margin-bottom: 10px; }
  .menu a {
    display: block;
    text-decoration: none;
    background-color: #f7f6f4;
    transform-origin: 100% 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing), background-color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1rem;
    margin: 0; }
    .menu a:hover {
      background-color: #fff; }
  .menu__sub a {
    font-size: 1rem;
    color: #485461;
    padding: .75em; }
  .menu__sub > a {
    display: block;
    border-bottom: 4px solid #f1dfd1; }
  .menu header {
    display: block;
    background-color: #f7f6f4;
    margin-bottom: 10px;
    transform-origin: 100% 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing), background-color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: flex-end; }
    .menu header span {
      font-size: 2rem;
      cursor: pointer; }
  .menu footer button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: calc(1em - 2px);
    width: 100%;
    transform-origin: 100% 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
    cursor: pointer;
    outline: none;
    background-color: #f7f6f4;
    opacity: 0; }
  .menu.closed a, .menu.closed header {
    transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
    background-color: #231e1a; }
  .menu.closed footer button {
    transition-delay: 0s;
    transform: scaleY(0.7) scaleX(0.2); }
  .menu.closed a, .menu.closed ul {
    pointer-events: none; }
  .menu.origin a, .menu.origin header {
    background-color: transparent; }
