@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0) rotateX(0); }
  50% {
    transform: translateY(-10px) rotateY(5deg) rotateX(-5deg); }
  100% {
    transform: translateY(0px) rotateY(0) rotateX(0); } }

div.contains-slider {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden; }

ul {
  list-style-type: none; }
  ul.slider {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative; }
    ul.slider .slider__items {
      align-self: stretch;
      flex: 1 1 auto;
      position: relative;
      transform: translateX(-10px) scale(0.92);
      z-index: 1; }
      ul.slider .slider__items:hover .book {
        filter: blur(1px) grayscale(100%);
        opacity: 0.7; }
        ul.slider .slider__items:hover .book:hover {
          filter: blur(0px) grayscale(0);
          opacity: 1; }
    ul.slider .slider__item {
      height: 100%;
      position: absolute;
      transition: all 1s; }
      ul.slider .slider__item--level-2 {
        height: 70%;
        width: 150px;
        left: 0%;
        margin-top: 35px;
        z-index: 0; }
        ul.slider .slider__item--level-2 .book {
          width: 150px; }
      ul.slider .slider__item--level-1 {
        height: 80%;
        width: 150px;
        left: 20%;
        margin-top: 20px;
        z-index: 1; }
        ul.slider .slider__item--level-1 .book {
          width: 150px; }
      ul.slider .slider__item--level0 {
        height: 90%;
        width: 200px;
        left: 42.5%;
        z-index: 2; }
        ul.slider .slider__item--level0 .book {
          width: 200px; }
      ul.slider .slider__item--level1 {
        height: 80%;
        width: 150px;
        margin-top: 20px;
        left: 70%;
        z-index: 1; }
        ul.slider .slider__item--level1 .book {
          width: 150px; }
      ul.slider .slider__item--level2 {
        height: 70%;
        width: 150px;
        margin-top: 35px;
        left: 90%;
        z-index: 0; }
        ul.slider .slider__item--level2 .book {
          width: 150px; }
      ul.slider .slider__item .book {
        transition: all ease 0.9s; }
        ul.slider .slider__item .book__title {
          font-size: 1.5rem; }
        ul.slider .slider__item .book__content a {
          font-size: 1.4rem; }
    ul.slider .slider__arrow {
      width: 100px;
      height: 100px;
      margin: 0 30px;
      cursor: pointer;
      position: relative;
      z-index: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      ul.slider .slider__arrow--l {
        background-image: url("../../images/slider--l.svg"); }
      ul.slider .slider__arrow--r {
        background-image: url("../../images/slider--r.svg"); }
  ul .left-enter {
    opacity: 0;
    left: calc($level2-left - $level2-width);
    height: calc($level2-height - 30px);
    margin-top: 50px; }
  ul .left-enter.left-enter-active {
    opacity: 1;
    left: 90%;
    height: 70%;
    width: 150px;
    margin-top: 35px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s; }
  ul .left-leave {
    opacity: 1;
    left: 0%;
    height: 70%;
    width: 150px;
    margin-top: 35px; }
  ul .left-leave.left-leave-active {
    left: calc($level-2-left + $level2-width + 20px);
    opacity: 0;
    height: calc($level2-height - 30px);
    margin-top: 50px;
    width: calc($level2-width - 20px);
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s; }
  ul .right-enter {
    opacity: 0;
    left: calc($level-2-left + $level2-width);
    height: calc($level2-height - 30px);
    width: calc($level2-width - 20px);
    margin-top: 50px; }
  ul .right-enter.right-enter-active {
    left: 0%;
    opacity: 1;
    height: 70%;
    margin-top: 35px;
    width: 150px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s; }
  ul .right-leave {
    left: 90%;
    height: 70%;
    opacity: 1;
    margin-top: 35px;
    width: 150px; }
  ul .right-leave.right-leave-active {
    left: calc($level2-left - $level2-width);
    opacity: 0;
    height: calc($level2-height - 30px);
    width: calc($level2-width - 20px);
    margin-top: 50px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s; }
