@import '../modules/base';

$base-class: tabs;

.#{$base-class} {
    width: 100%;
    flex: 1 1 auto;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;

    div {
        flex: 1 1 auto;
    }

    &__container {
        position: relative;
        width: 100%;
    }

    &__tab {
        position: absolute;
        width: 90%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        padding: 0 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all ease-in-out 1.2s;
        pointer-events: none;

        * {
            margin-bottom: 10px;
            font-size: $base-font-size*1.5;
            line-height: $base-line-height;
        }

        a {
            text-decoration: none;
            color: $dBrown;
            filter: brightness(80%);
        }

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }


    nav {
        transform: translateY(10px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        transition: all ease-in-out 0.9s;

        &.#{$base-class}--active {
            &-start {
                left: 0;
                // transform: translateX(0);
            }
            &-end {
                right: 0;
                // left: 50%;
                // transform: translateX(25%);
            }
        }
        
        * {
            color: $skin;
            display: inline-block;

        }

        span {
            margin: 0 10px;
            font-family: $playfair;
            font-size: calc(100vw / 10);
            font-style: $italic;
            transform: translateY(25%) scale(0.85);
        }

        button {
            min-height: 20vh;
            display: flex;
            align-items: stretch;

            span {
                --height: 500%;

                margin: 0;
                font-family: $blossom;
                font-size: calc(100vw / 54);
                font-style: $normal;
                transform: translateY(calc(#{'var(--height)'}));
                transition: all ease-in-out 0.9s;
            }

            &.active span {
                color: $dBrown;
            }
        }
    }
}