.wordcloud {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
  height: 600px;
  padding: 60px 20px !important;
  text-align: center;
  word-break: break-word;
  transform: rotate(2.2deg);
  line-height: 1.26; }
  .wordcloud__word {
    color: #231e1a;
    text-decoration: none;
    transition: all ease 0.3s; }
    .wordcloud__word:hover {
      color: #cca269; }
    .wordcloud__word--1 {
      font-size: 1.44rem;
      font-weight: 300; }
    .wordcloud__word--2 {
      font-size: 1.584rem;
      font-weight: 400; }
    .wordcloud__word--3 {
      font-size: 1.728rem;
      font-weight: 500; }
    .wordcloud__word--4 {
      font-size: 1.872rem;
      font-weight: 600; }
    .wordcloud__word--5 {
      font-size: 2.016rem;
      font-weight: 700; }
    .wordcloud__word--6 {
      font-size: 2.16rem;
      font-weight: 800; }
    .wordcloud__word--7 {
      font-size: 2.304rem;
      font-weight: 900; }
