//Base colors
$white: rgb(247, 246, 244);
$black: rgb(35, 30, 26);

$dGray: rgb(72, 84, 97);
$gray: rgb(126, 139, 150);

$skin: rgb(241, 223, 209);
$yellow: rgb(241, 224, 142);
$lBrown: rgb(216, 179, 154);
$brown: rgb(209, 166, 124);
$dBrown: rgb(204, 162, 105);

$dRed: rgb(115, 24, 0);

//Tag colors

//Styles
$card-shadow: 0px 0px 50px -10px rgba(35, 30, 26, 0.2);
$card-shadow-hover: 0px 10px 60px -10px rgba(35, 30, 26, 0.4);


