$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$blossom: 'Blossom', serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$x-bold: 800;
$xx-bold: 900;

$normal: normal;
$italic: italic;

$base-font-size: 1rem;
$base-line-height: 1.4;
$base-letter-spacing: 0.2px;