@font-face {
  font-family: 'Blossom';
  src: url("./../../assets/fonts/Blossom.woff2") format("woff2"), url("./../../assets/fonts/Blossom.woff") format("woff"), url("./../../assets/fonts/Blossom.ttf") format("ttf"), url("./../../assets/fonts/Blossom.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0) rotateX(0); }
  50% {
    transform: translateY(-10px) rotateY(5deg) rotateX(-5deg); }
  100% {
    transform: translateY(0px) rotateY(0) rotateX(0); } }

@keyframes pulse {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.3);
    opacity: 0; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

@keyframes pulse-2 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

@keyframes bounce {
  0%, 75%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, #root, main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: justify;
  white-space: normal;
  color: #231e1a; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: lowercase; }

button {
  background: none;
  border: none;
  outline: none; }

main {
  background-color: #f7f6f4; }
  main.loading-view {
    height: 100vh;
    overflow: hidden; }
  main.index-view {
    height: 100vh; }
    main.index-view .section {
      overflow-x: scroll;
      align-items: flex-start;
      padding: 18vh 0; }
  main.home-view section {
    padding: 0; }
  main .section {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px; }
    main .section .content {
      width: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex: 1;
      position: relative; }
      main .section .content section {
        padding: 20px; }
